helm-debug*
.#*
.cache/
request/
transient/
%backup%~
.org-id-locations
*.aux
*.toc
*.log
*.out
*.synctex.gz
*auto/
recentf
latex*
irony/
ccls/
.lsp-session*
\#*\#
.emacs.desktop
.gitattributes
ac-comphist.dat
auto-save-list/
backup/
bookmarks
custom.el*
ede-projects.el
elpa/
ido*
init_proxy*
org-clock-save.el
places 
plugins/
projectile*
server/
srecode-map.el
url/
viper
~*
*.swp
.bm-repository
.cask
.mc-lists.el
DartConfiguration.tcl
eshell/
newsticker/
semanticdb/
tutorial/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
